
.container {
    margin-top: 20px;

}

img{
    width: 100%;
    height: 75vh;
}
.info-text {
    font-family: var(--font-family-header);
    margin-top: 15px;
}

.email{
    display: flex;
    justify-content: center;
    align-items: center;
}